
/* signup css */

.signupContainer {
  height: 600px;
  width: 400px;
  margin-top: 200px;
  margin-left: 37.5%;
  background-color: rgba(128, 128, 128, 0.257);
  border-radius: 10px;
  border: 1px solid black;
  z-index: 1;
  align-items: center;
}
/* .signupButton {
  position: absolute;
  right: 10px
} */
.signupForm {
  /* height: 500px; */
  width: 100%;
  align-items: center;
  /* margin:  5% 15% 5% 15%; */
  padding: 16px;
}

.signupLabel {
  color: black;
}

.email {
  border-radius: 5px;
  border-color: black;
  margin: 20px;
  width: 300px;
}
.password {
  border-radius: 5px;
  border-color: black;
  width: 300px;
  margin: 20px;
}
.signupButton {
  margin: 150px;
  border-color: black;
  position: absolute;
  border-radius: 5px;
  right:550px

}


/* profile css */
.profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-size: cover !important;
}

.profile-for-all {
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: center;
}


.chat {
  display: flex;
  float: right;
  justify-content:flex-end;
  position:sticky;
  height:480px;
  padding-bottom: 150px;
  width: 850px;
  box-shadow: rgba(0, 0, 0, 0.1);
}


.friend-request-list {
  background-color: rgb(12, 12, 12);
  color: rgb(243, 243, 243);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  /* border-radius: 8px; */
  list-style-type: none;
  text-align: center;
  align-items: center;
}

.friend-request-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
}

.friend-request-list button {
  margin-left: 10px;
  border-radius: 10px;
}

.request {
  background-color: rgb(42, 43, 45);
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

#accept-reject {

}


.profile-nav {
  height: 160px;
}

.leftColumn, .rightColumn {
  margin-top:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(100,149,237, 0.5);
}

.leftColumn {
  width: 35%;
  padding: 30px;
}

.rightColumn {
  width: 50%;
  padding: 30px;
}

.profilePhoto {
  margin: 30px;
  margin-bottom: 10px;
  width: 550px;
  height: auto;
}

.aboutTitle {
  width: 100%;
  text-align: center;
}

.profile-name, .friendRequest, .likeGame, .editPhotoButton, .editAbout {
  margin: 5px;
}

#like, #add-to-favourite {
  margin: 5px;
}

.profile-name, .profile-firstName, .profile-lastName, .profile-email {
  width: 100%;
  text-align: left;
}

.gameNav {
  margin-left: 250px;
}

.game-intro-stack {
  margin-left: 30px;
}

#reddit-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#reddit {
  margin-top: 20px;
  margin-left: 50px;
  width: 40px;
  height: auto;
  object-fit: cover;
}

#reddit-img {
  width:100%
}

.car-div{
  margin-top: 125px;
}