.fCar {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.fcard {
  border: 1px solid #fff;
  background: black;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  color: black;
  cursor: pointer;
}

.fcard-top h1 {
  font-size: 0.9rem;
  margin: 20px;
  color: black;
}

.fcard-top > img {
  width:auto;
  height:auto;
  object-fit: cover;
}

.card-bottom {
  margin: 10px 20px;
  color: black;
}

.category {
  position: relative;
}
.category::before {
  content: '';
  background: rgb(255, 61, 61);
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  height: 2px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}